<%= form_with(model: @comment, local: true) do |f| %>
	<div class = "comments-container form group">
		<p>
			<%=f.text_area :description, rows:2, class: "col-12 comment-input-box" %>
		</p>
		<p class = "text-right">
			<%=f.submit class:"btn btn-light btn-sm" %>
		</p>
		<% end %>
	</div>
