<h1 class = "text-center mt-4 text-on-grape"> Notes </h1>
<%= render 'article' %>


<div id = "page-content">
	<div class = "apple_pagination">
		<%= will_paginate @articles, :container => false  %>
	</div>
</div>