    <div class = home-background>
    <div class = "container">
      <div class="text-center" style = "background-attachment: fixed;">
        <h2 class="text-on-white" style = "padding-top:15px;">Why waste paper?</h2>
      </br><p><%= link_to "Sign up", signup_path, class: "mt-1 sign-up-button btn btn-outline-success btn-lg"%></p>
      </div>
    </div>  
</div>
