 <footer id="sticky-footer" class="py-2 bg-dark text-white-50">
    <div class="container justify-content-center" style = "text-align:center">
      <small>Copyright &copy; Your Website &nbsp</small>
       <small> <a href = "https://icons8.com/" target="_blank" rel="noopener noreferrer">Icons by Icon8 </a> </small>
    </div>
  </footer>